<h1><%= @teahouse.name%></h1>
<li>Street Address: <%= @teahouse.address%></li> 
<li>City:           <%= @teahouse.city%></li> 
<li>State:          <%= @teahouse.state%></li> 
<li>Zip:            <%= @teahouse.zip%></li><br> 

<%= link_to 'Update Teahouse', edit_teahouse_path(@teahouse.id) %><br> 
<%= link_to 'Delete Teahouse', teahouse_path(@teahouse.id), method: :delete %><br/> 